Assignment1: Perform ETL operation on the given data

In [3]:
import warnings
warnings.filterwarnings('ignore')
# Setting precision level to 4 to show only upto 4 decimal points
import pandas as pd
pd.option_context('display.precision', 2)

Task1:Load both stocks data1 from the given healthdrink file

In [7]:
#Write here code
data1 = pd.read_csv('healthdrink.csv')
print("Data1 (First few rows):")
print(data1.head())
data2= pd.read_csv('BEML.csv')
data2

Data1 (First few rows):
   height_increase
0              5.3
1              9.0
2              5.7
3              5.5
4              5.4

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1121.00,1151.00,1121.00,1134.00,1135.60,101651.0,1157.18
1,2010-01-05,1146.80,1149.00,1128.75,1135.00,1134.60,59504.0,676.47
2,2010-01-06,1140.00,1164.25,1130.05,1137.00,1139.60,128908.0,1482.84
3,2010-01-07,1142.00,1159.40,1119.20,1141.00,1144.15,117871.0,1352.98
4,2010-01-08,1156.00,1172.00,1140.00,1141.20,1144.05,170063.0,1971.42
...,...,...,...,...,...,...,...,...
1734,2016-12-26,965.00,965.05,935.00,950.10,950.25,398696.0,3783.63
1735,2016-12-27,960.70,989.00,952.35,974.00,975.70,808561.0,7885.14
1736,2016-12-28,980.75,985.00,970.15,977.00,974.40,367041.0,3592.49
1737,2016-12-29,977.10,997.95,974.55,985.15,986.05,555233.0,5489.14
1738,2016-12-30,986.00,1006.95,985.90,1004.00,1000.60,460675.0,4606.48

Task2:Identify the feature vector from the given file, and write the python code to keep that only in the data frame

In [12]:
#write code
data = pd.read_csv("BEML.csv")
feature_vector_df = data[["Turnover (Lacs)"]]
print(feature_vector_df)

      Turnover (Lacs)
0             1157.18
1              676.47
2             1482.84
3             1352.98
4             1971.42
...               ...
1734          3783.63
1735          7885.14
1736          3592.49
1737          5489.14
1738          4606.48

[1739 rows x 1 columns]

Task3: Perform data transformation operation on time variable

In [14]:
#write code here
import pandas as pd

# Read the data from the file into a DataFrame
data = pd.read_csv("BEML.csv")

# Convert the 'Date' column to datetime type
data['Date'] = pd.to_datetime(data['Date'])

# Example transformations:
# Extract year, month, day
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

# Extract weekday (0 = Monday, 1 = Tuesday, ..., 6 = Sunday)
data['Weekday'] = data['Date'].dt.weekday

# Extract week number
data['Week'] = data['Date'].dt.isocalendar().week

# Print the transformed DataFrame
print(data)

           Date     Open     High      Low     Last    Close  \
0    2010-01-04  1121.00  1151.00  1121.00  1134.00  1135.60
1    2010-01-05  1146.80  1149.00  1128.75  1135.00  1134.60
2    2010-01-06  1140.00  1164.25  1130.05  1137.00  1139.60
3    2010-01-07  1142.00  1159.40  1119.20  1141.00  1144.15
4    2010-01-08  1156.00  1172.00  1140.00  1141.20  1144.05
...         ...      ...      ...      ...      ...      ...
1734 2016-12-26   965.00   965.05   935.00   950.10   950.25
1735 2016-12-27   960.70   989.00   952.35   974.00   975.70
1736 2016-12-28   980.75   985.00   970.15   977.00   974.40
1737 2016-12-29   977.10   997.95   974.55   985.15   986.05
1738 2016-12-30   986.00  1006.95   985.90  1004.00  1000.60

      Total Trade Quantity  Turnover (Lacs)  Year  Month  Day  Weekday  Week
0                 101651.0          1157.18  2010      1    4        0     1
1                  59504.0           676.47  2010      1    5        1     1
2                 128908.0          1482.84  2010      1    6        2     1
3                 117871.0          1352.98  2010      1    7        3     1
4                 170063.0          1971.42  2010      1    8        4     1
...                    ...              ...   ...    ...  ...      ...   ...
1734              398696.0          3783.63  2016     12   26        0    52
1735              808561.0          7885.14  2016     12   27        1    52
1736              367041.0          3592.49  2016     12   28        2    52
1737              555233.0          5489.14  2016     12   29        3    52
1738              460675.0          4606.48  2016     12   30        4    52

[1739 rows x 13 columns]

Tasks4:Calculate gain of Close price of both stock

In [18]:
import pandas as pd

# Read the data from the file into a DataFrame
data = pd.read_csv("BEML.csv")

# Calculate the gain for each stock
gain_stock1 = data.iloc[-1]['Close'] - data.iloc[0]['Close']
gain_stock2 = data.iloc[-1]['Close'] - data.iloc[0]['Close']

# Print the gains
print("Gain of Stock 1:", gain_stock1)
print("Gain of Stock 2:", gain_stock2)

Gain of Stock 1: -134.9999999999999
Gain of Stock 2: -134.9999999999999

Task5: identify Null in the gain of close variable and remove null

In [22]:
#Write code here
import pandas as pd

# Assuming you have loaded your data into a DataFrame named 'df'

# Calculate the gain
df['Gain'] = df['Close'].diff()

# Identify and remove rows with null gain
df = df.dropna(subset=['Gain'])

# Optional: Reset index
df = df.reset_index(drop=True)

# Print the DataFrame without null gains
print(df)

TypeError: 'module' object is not subscriptable

Task6: Make a new detination file(NewGlaxo.csv) and load the created data frame

In [23]:
import pandas as pd

# Assuming you already have the DataFrame 'df' with the desired data

# Save the DataFrame to a new CSV file
df.to_csv("NewGlaxo.csv", index=False)

# Load the CSV file into a new DataFrame
new_df = pd.read_csv("NewGlaxo.csv")

# Print the loaded DataFrame
print(new_df)

AttributeError: module 'pandas' has no attribute 'to_csv'