In [21]:
import pandas as pd

In [27]:
df = pd.DataFrame({"a":[10,20,30,40,50,"b",60,70,80,90]})
df

    a
0  10
1  20
2  30
3  40
4  50
5   b
6  60
7  70
8  80
9  90

In [29]:
df["a"].str.isdigit()

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5    False
6      NaN
7      NaN
8      NaN
9      NaN
Name: a, dtype: object

In [31]:
res=[]
def fun(x):
    if not str(x).isdigit():
        res.append(x)

In [33]:
df["a"].apply(fun)

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: a, dtype: object

In [ ]:
20 marks for regression
20 marks for classfacation

In [17]:
import pandas as pd
import numpy as np

In [ ]:
x = [10,20,30,40,50,60,70,80,90,100,110,120]
y=[1,2,3,4,5,6,7,8,9,10,11,12]

z=list()