In [1]:
#=============================================================================
# CODE NAME     : Descriptive Statistics.py
# PURPOSE       : Demonstrate Descriptive Statistics using Numpy and Pandas 
# APPLICATION   : Analyzing Mutual Fund Returns across risk categories
#=============================================================================

In [1]:
# Get the PANDAS Library
import numpy as np
import pandas as pd

# Load Input Data
infile = "C:\\Users\\Training\\Data Science using SAS and Python\\Data\\MF2000.xlsx"
returns = pd.read_excel(infile,sheet_name='Data')
print("Listing First Five Records")
returns.head()

Listing First Five Records

,Fund,Objective,Sales charge,Exp Ratio,Risk,Return 1999,Return Q1-2000,_3Yr Return
0,AMER CENT Gl Gold,SC,N,0.69,high,-3.2,-17.01,-22.82
1,FPA Paramount,GI,Y,1.03,high,1.6,-13.30,-12.57
2,FIDELITY emerging markets,IL,Y,1.45,high,70.5,1.58,-10.55
3,GPLDMAN SACHS Asis Gr A,IL,Y,1.85,high,59.4,1.93,-5.32
4,Berwyn,SC,N,1.20,high,-4.6,-5.75,-3.16

In [3]:
# Get the Descriptive Statistics for 3 years returns
returns_ds = pd.DataFrame(returns['_3Yr Return'].describe())
print("Descriptive Statistics for 3 Years Returns")
returns_ds.transpose()

Descriptive Statistics for 3 Years Returns

             count       mean        std    min    25%    50%    75%    max
_3Yr Return  137.0  25.462263  19.096356 -22.82  12.46  22.47  33.28  91.15

In [4]:
# Get the Descriptive Statistics for 3 years returns/risk
returns_risk_ds = pd.DataFrame(returns.groupby('Risk').describe()[['_3Yr Return']])
print("Descriptive Statistics for 3 Years Returns across Risk")
returns_risk_ds.transpose()

Descriptive Statistics for 3 Years Returns across Risk

Risk                     avg       high        low
_3Yr Return count  76.000000  47.000000  14.000000
            mean   27.000789  24.811702  19.294286
            std    17.664752  23.166269   7.708491
            min    -2.700000 -22.820000   9.770000
            25%    14.167500   6.670000  14.217500
            50%    22.980000  26.600000  18.420000
            75%    32.620000  38.935000  21.297500
            max    91.150000  86.130000  38.160000

In [15]:
# Calculation of Specific Statistics
returns_med = pd.DataFrame(returns.groupby('Risk').median()[['_3Yr Return']])
print("Median Returns for 3 Years Returns across Risk")
returns_med.transpose()

Median Statistics for 3 Years Returns across Risk

Risk           avg  high    low
_3Yr Return  22.98  26.6  18.42

In [16]:
returns_var = pd.DataFrame(returns.groupby('Risk').var()[['_3Yr Return']])
print("Variance in Returns for 3 Years Returns across Risk")
returns_var.transpose()

Variance in Returns for 3 Years Returns across Risk

Risk                avg       high        low
_3Yr Return  312.043458  536.67601  59.420826