In [1]:
#=============================================================================
# CODE NAME     : Standard Error and CI.py
# PURPOSE       : Demonstrate Standard Error and CI Pandas and Scipy 
# APPLICATION   : Analyzing Mutual Fund Returns across risk categories
#=============================================================================

In [1]:
# Get the PANDAS Library
import numpy as np
import pandas as pd

# Load Input Data
infile = "C:\\Users\\Training\\Data Science using SAS and Python\\Data\\MF2000.xlsx"
returns = pd.read_excel(infile,sheet_name='Data')
print("Listing First Five Records")
returns.head()

Listing First Five Records

,Fund,Objective,Sales charge,Exp Ratio,Risk,Return 1999,Return Q1-2000,_3Yr Return
0,AMER CENT Gl Gold,SC,N,0.69,high,-3.2,-17.01,-22.82
1,FPA Paramount,GI,Y,1.03,high,1.6,-13.30,-12.57
2,FIDELITY emerging markets,IL,Y,1.45,high,70.5,1.58,-10.55
3,GPLDMAN SACHS Asis Gr A,IL,Y,1.85,high,59.4,1.93,-5.32
4,Berwyn,SC,N,1.20,high,-4.6,-5.75,-3.16

In [3]:
# Get the Standard Error of the Mean for 3 years returns
returns_sem = pd.DataFrame(returns.sem()[['_3Yr Return']])
print("Standard Error of the mean for 3 years returns")
returns_sem.transpose()

Standard Error of the mean for 3 years returns

   _3Yr Return
0     1.631512

In [3]:
# Get the Confidence Interval of the Mean
from scipy.stats import sem,t
from scipy import mean

confidence = 0.95
data = returns['_3Yr Return']
n = len(data)
x_bar = mean(data)
std_err = sem(data)
h = std_err * t.ppf((1+confidence)/2,n-1) # This is for critical value of t distribution
start = x_bar - h
end = x_bar + h

# Get the CI Output in Dataframe
ci_dict = {'Mean':x_bar, "Start":start, "End":end}
ci = pd.DataFrame(ci_dict, index = ["3 Yr Returns"], columns = ["Mean","Start","End"])
print("Confidence Interval of the Mean for 3 Years Returns")
ci

Confidence Interval of the Mean for 3 Years Returns

C:\Users\Urvish\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead

                   Mean      Start        End
3 Yr Returns  25.462263  22.235849  28.688677