In [1]:
# Before perform any opteration in statistic we use to import  few inbuild library like pandas ,numpy ,
# For ploting graph use seaborn  and matplotlib.pyplot library 
# importing math library for performing math operation 
# import  warnings library for ignoring  any warnings

Assignment1: Perform ETL operation on the given data

In [2]:
import warnings
warnings.filterwarnings('ignore')
# Setting precision level to 4 to show only upto 4 decimal points
import pandas as pd
pd.option_context('display.precision', 2)

Task1:Load both stocks data1 from the given healthdrink file

In [3]:
# In the extract step, we're reading data from the CSV file named "BEML.csv" using the pd.read_csv() function from the Pandas library. 
# This function reads the data and stores it in a DataFrame named beml_df. The print(beml_df[:5]) statement displays the first 5 rows of 
# the DataFrame, giving us a glimpse of the data we've just extracted.


# In the extract step, we're reading  second stock data from the CSV file named "GLAXO.csv" using the pd.read_csv() function from the Pandas library. 
# This function reads the data and stores it in a DataFrame named beml_df. The print(glaxodata.head(5)) statement displays the first 5 rows of 
# the DataFrame, giving us a glimpse of the data we've just extracted.

In [4]:
import pandas as pd


df1=pd.read_csv('BEML.csv')
print(df1)
df=pd.read_csv('GLAXO.csv')
print(df)

            Date     Open     High      Low     Last    Close  \
0     2010-01-04  1121.00  1151.00  1121.00  1134.00  1135.60
1     2010-01-05  1146.80  1149.00  1128.75  1135.00  1134.60
2     2010-01-06  1140.00  1164.25  1130.05  1137.00  1139.60
3     2010-01-07  1142.00  1159.40  1119.20  1141.00  1144.15
4     2010-01-08  1156.00  1172.00  1140.00  1141.20  1144.05
...          ...      ...      ...      ...      ...      ...
1734  2016-12-26   965.00   965.05   935.00   950.10   950.25
1735  2016-12-27   960.70   989.00   952.35   974.00   975.70
1736  2016-12-28   980.75   985.00   970.15   977.00   974.40
1737  2016-12-29   977.10   997.95   974.55   985.15   986.05
1738  2016-12-30   986.00  1006.95   985.90  1004.00  1000.60

      Total Trade Quantity  Turnover (Lacs)
0                 101651.0          1157.18
1                  59504.0           676.47
2                 128908.0          1482.84
3                 117871.0          1352.98
4                 170063.0          1971.42
...                    ...              ...
1734              398696.0          3783.63
1735              808561.0          7885.14
1736              367041.0          3592.49
1737              555233.0          5489.14
1738              460675.0          4606.48

[1739 rows x 8 columns]
            Date     Open     High      Low    Last    Close  \
0     2010-01-04  1613.00  1629.10  1602.00  1629.0  1625.65
1     2010-01-05  1639.95  1639.95  1611.05  1620.0  1616.80
2     2010-01-06  1618.00  1644.00  1617.00  1639.0  1638.50
3     2010-01-07  1645.00  1654.00  1636.00  1648.0  1648.70
4     2010-01-08  1650.00  1650.00  1626.55  1640.0  1639.80
...          ...      ...      ...      ...     ...      ...
1734  2016-12-26  2703.00  2740.00  2677.00  2715.0  2723.50
1735  2016-12-27  2722.95  2725.00  2683.00  2692.0  2701.75
1736  2016-12-28  2701.75  2718.00  2690.00  2698.0  2702.15
1737  2016-12-29  2702.05  2739.00  2691.95  2710.0  2727.90
1738  2016-12-30  2730.00  2740.45  2705.00  2730.0  2729.80

      Total Trade Quantity  Turnover (Lacs)
0                   9365.0           151.74
1                  38148.0           622.58
2                  36519.0           595.09
3                  12809.0           211.00
4                  28035.0           459.11
...                    ...              ...
1734                3953.0           107.15
1735               10600.0           286.10
1736                6050.0           163.44
1737                7649.0           207.87
1738                6513.0           177.65

[1739 rows x 8 columns]

Task2:Identify the feature vector from the given file, and write the python code to keep that only in the data frame

In [5]:
# selecting one feature vector by selecting Date and Close column  
# and create new dataframe by name's feature_df1 for beml_df dataframe and feature_df1 for glaxo_df dataframe 
# print the both  dataframes

In [6]:
import pandas as pd

# Identify the relevant feature columns (e.g., 'temperature', 'humidity')
feature_columns = ['Date', 'Close']

# Create a new DataFrame with only the feature columns
feature_df1 = df1[feature_columns]
feature_df = df[feature_columns]

print(feature_df1)
print(feature_df)

            Date    Close
0     2010-01-04  1135.60
1     2010-01-05  1134.60
2     2010-01-06  1139.60
3     2010-01-07  1144.15
4     2010-01-08  1144.05
...          ...      ...
1734  2016-12-26   950.25
1735  2016-12-27   975.70
1736  2016-12-28   974.40
1737  2016-12-29   986.05
1738  2016-12-30  1000.60

[1739 rows x 2 columns]
            Date    Close
0     2010-01-04  1625.65
1     2010-01-05  1616.80
2     2010-01-06  1638.50
3     2010-01-07  1648.70
4     2010-01-08  1639.80
...          ...      ...
1734  2016-12-26  2723.50
1735  2016-12-27  2701.75
1736  2016-12-28  2702.15
1737  2016-12-29  2727.90
1738  2016-12-30  2729.80

[1739 rows x 2 columns]

In [7]:
# check information of dataframe by using info() function
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1739 entries, 0 to 1738
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1739 non-null   object
 1   Open                  1739 non-null   float64
 2   High                  1739 non-null   float64
 3   Low                   1739 non-null   float64
 4   Last                  1739 non-null   float64
 5   Close                 1739 non-null   float64
 6   Total Trade Quantity  1739 non-null   float64
 7   Turnover (Lacs)       1739 non-null   float64
dtypes: float64(7), object(1)
memory usage: 108.8+ KB

Task3: Perform data transformation operation on time variable

In [8]:
# Perform data transformation operation on time variable by using pd.to_datetime() funtuon

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

Tasks4:Calculate gain of Close price of both stock

In [10]:
# Cosidering close value of stock as gain
# calculating gain of both stock use [df.Close.pct_change(periods=1)]
df1['gain']=df1.Close.pct_change(periods=1)
df['gain']=df.Close.pct_change(periods=1)
print("glaxo gain=\n",df.head(5))
print()
print("beml gain=\n",df1.head(5))

glaxo gain=
         Date     Open     High      Low    Last    Close  \
0 2010-01-04  1613.00  1629.10  1602.00  1629.0  1625.65
1 2010-01-05  1639.95  1639.95  1611.05  1620.0  1616.80
2 2010-01-06  1618.00  1644.00  1617.00  1639.0  1638.50
3 2010-01-07  1645.00  1654.00  1636.00  1648.0  1648.70
4 2010-01-08  1650.00  1650.00  1626.55  1640.0  1639.80

   Total Trade Quantity  Turnover (Lacs)      gain
0                9365.0           151.74       NaN
1               38148.0           622.58 -0.005444
2               36519.0           595.09  0.013422
3               12809.0           211.00  0.006225
4               28035.0           459.11 -0.005398

beml gain=
          Date    Open     High      Low    Last    Close  \
0  2010-01-04  1121.0  1151.00  1121.00  1134.0  1135.60
1  2010-01-05  1146.8  1149.00  1128.75  1135.0  1134.60
2  2010-01-06  1140.0  1164.25  1130.05  1137.0  1139.60
3  2010-01-07  1142.0  1159.40  1119.20  1141.0  1144.15
4  2010-01-08  1156.0  1172.00  1140.00  1141.2  1144.05

   Total Trade Quantity  Turnover (Lacs)      gain
0              101651.0          1157.18       NaN
1               59504.0           676.47 -0.000881
2              128908.0          1482.84  0.004407
3              117871.0          1352.98  0.003993
4              170063.0          1971.42 -0.000087

In [11]:
# creating a function  for checking how many percentage change between day 0 and day1 
# function  contain close_prices
def calculate_percentage_change(close_prices):
    percentage_changes = []
    for i in range(1, len(close_prices)):
        percentage_change = (close_prices[i] - close_prices[i - 1]) / close_prices[i - 1]
        percentage_changes.append(percentage_change)
    return percentage_changes

# Example usage:
close_prices = [100, 110, 120, 115, 130, 125]
percentage_changes = calculate_percentage_change(close_prices)

for i, change in enumerate(percentage_changes):
    print(f"Percentage change between day {i} and day {i + 1}: {change:.2%}")

Percentage change between day 0 and day 1: 10.00%
Percentage change between day 1 and day 2: 9.09%
Percentage change between day 2 and day 3: -4.17%
Percentage change between day 3 and day 4: 13.04%
Percentage change between day 4 and day 5: -3.85%

Task5: identify Null in the gain of close variable and remove null

In [12]:
df.dropna(inplace = True)

Task6: Make a new detination file(NewGlaxo.csv) and load the created data frame

In [13]:
#For making  a new detination file(NewGlaxo.csv) and load the created data frame use to_csv() funtion 
destination_file="NewGlaxo.csv"
df.to_csv(destination_file,index=False)
print("ETL operation completed")

ETL operation completed

Note:-In Python, the append() function is a method specifically used with lists. It allows you to add a single element to the end of an existing list.